body {
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    background-image: url(images/bg.jpg);
    background-size: cover;
    background-position: 50% 50%;
}

h2 {
    text-align: center;
    color: white;
}

h4{
    margin-top: 30px;
    text-align: center;
    color: white;
}

ul{
    margin-top: 60px;
    color: white;
    text-align: center;
    list-style: none;
    position: relative;
    right: 20px;
}

p {
    color: white;
    text-align: center;
    margin: 30px 0;
}

span {
    font-size: 2rem;
}

iframe {
    padding-bottom: 40px;
}


#timeUpdate {
    font-size: 1rem;
}

.EA-header {
    width: 210px;
    height: 110px;
}

.navbar,
.navbar-icons {
    display: flex;
    background-color: #0F0E0E;
    flex-wrap: nowrap;
    z-index: 1;
}

.navbar::marker {
    color: #0F0E0E;
}

.EALogo-simple {
    width: 45px;
    height: 45px;
}

.nav-link {
    font-size: 1.5rem;
    font-weight: 300;
    margin: 0 15px;
    transition: 400ms;
    font-weight: 300;
    color: white;
}

.nav-link:hover {
    color: #f5c27e;
}

.nav-socials:hover {
    transform: scale(1.5);
}

.coming-soon {
    font-size: 4rem;
}

.store-bottom-logo {
    margin-top: 500px;
}

.promo {
    width: 900px;
    margin: 40px auto 40px;
    display: block;
}

.album-art {
    width: 100%;
    height: 100%;
    border-radius: 3px;
}

.album-section {
    display: flex;
    margin: auto;
}

.row {
    font-size: 1.5rem;
    margin-top: 50px;
}

.p-2 {
    margin-top: 70px;
}

.tog-button {
    background: none;
    color: white;
    font-size: 3rem; 
    line-height: 0.6rem;
    position: relative;
    bottom: 10px;
    border-style: none;
    padding-bottom: 15px;
}

.mail-to {
    font-size: 2rem;
    transition: 400ms;
    line-height: 7rem;
    color: #fde7a5;
}

.mail-to:hover {
    color: #dba706;
}

.outer-link {
    color: #fde7a5;
    transition: 400ms;
}

.outer-link:hover {
    color: #dba706;
    text-decoration: none;
}

@media (max-width: 1028px) {
    .navbar {
        text-align: center;
        display: list-item;
    }

    .nav-socials {
        margin: auto;
    }

    .EA-header {
        margin: auto;
    }

    .mail-to{
        font-size: 1.5rem;
    }

    .promo {
        width: 100%;
    }


    body {
        background-position: top;
    }
    
    h4 {
        font-size: 1rem;
    }

    h4 br{
        display: none;
    }
}